* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url(../svg/weather.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  width: 40px;
}

.imgSvg {
  width: 40px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0rem auto;
  padding-top: calc(100vh - 96vh);
  color: #000;
  position: relative;
}

/* MAIN */

.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* MAIN SECTION LEFT CONTAINER */

.weather-info__description {
  font-size: 2.2rem;
  font-weight: 700;
}

.weather-info__icon {
  width: 80px;
  height: 60px;
}

.weather-date {
  font-size: 1rem;
}

/* MAIN SECTION RIGHT CONTAINER */

.weather-info-right {
  text-align: right;
}

.weather-info__temperature {
  font-size: 2.2rem;
  font-weight: 800;
}

.weather-info__city {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.none {
  display: none;
}

.form {
  margin-top: 0.3rem;
  display: flex;
  justify-content: right;
}

.form input {
  border: none;
  background: transparent;
  border-bottom: 1.2px solid #000;
  outline: none;
  color: #000;
  font-size: 0.9rem;
  width: 60%;
  min-width: 170px;
  padding: 0.5rem 1.5rem 0.1rem 0;
}

form input::placeholder {
  color: rgb(43, 43, 43);
}

.form button {
  position: absolute;
  right: 2px;
  background: none;
  border: none;
}

.form #searchSvg {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  padding: 0;
  margin: 5px 0 0 0;
}

button:focus {
  background: rgb(169, 167, 167);
}

/* WEATHER DETAIL SECTION */

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  row-gap: 20px;
  margin: 2.5rem 0 3rem 0;
  justify-items: center;
}

.weather-details {
  display: flex;
}

.weather-details .img2Svg {
  width: 35px;
  height: 30px;
}

.weather-detail-data {
  margin-left: 0.5rem;
}

.weather-detail-data h5 {
  font-size: 0.9rem;
}

.weather-detail-data h4 {
  font-size: 1.35rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .weather-info__description {
    font-size: 1.7rem;
  }

  .weather-info__icon {
    width: 60px;
    height: 50px;
  }

  .weather-date {
    font-size: 0.85rem;
  }

  .weather-info__temperature {
    font-size: 1.9rem;
  }

  .weather-info__city {
    font-size: 1.6rem;
  }

  .form input {
    font-size: 0.8rem;
    min-width: 150px;
  }
  .form img {
    width: 1.1rem;
  }

  section {
    margin-top: 10rem 0;
    grid-template-columns: 1fr 1fr;
  }

  .img2Svg {
    margin-top: 0.25rem;
  }

  .weather-details img {
    width: 30px;
  }

  .weather-detail-data {
    margin-left: 0.3rem;
  }

  .weather-detail-data h5 {
    font-size: 0.8rem;
  }

  .weather-detail-data h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 460px) {
  .weather-info__description {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  .weather-info__icon {
    width: 60px;
    height: 42px;
  }
  .weather-day-date,
  .weather-time {
    font-size: 0.8rem;
  }
  .weather-info__temperature {
    font-size: 1.65rem;
    font-weight: 500;
  }
  .weather-info__city {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

@media only screen and (max-width: 380px) {
  .weather-info__description {
    font-size: 1.25rem;
  }
  .weather-info__icon {
    width: 55px;
    height: 38px;
  }
  .weather-info__temperature {
    font-size: 1.35rem;
  }

  .weather-info__city {
    font-size: 1.25rem;
  }
}

.change-forecast {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  position: relative;
}

.daily-btn,
.hourly-btn {
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.25rem 0.7rem 0.35rem 0.7rem;
  cursor: pointer;
  border: 2px solid transparent;
}

.forecast-daily-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin-top: 1.2rem;
}

.forecast-daily-day {
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 0;
}

.forecast-daily-temp-max {
  font-size: 1.5rem;
  margin: 0.2rem 0 0 0;
}

.forecast-daily-temp-min {
  font-size: 1.05rem;
  margin-left: 2px;
  margin-bottom: 0.5rem;
}

.weather-daily-icon {
  width: 35px;
}

.forecast-selected {
  border: 2px solid #000;
  border-radius: 4px;
}

.change-hours {
  display: none;
  position: absolute;
  left: 9rem;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.3rem;
}

.dot {
  border: 2px solid #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 0.3rem;
  cursor: pointer;
}

.dot-selected {
  background: #000;
}

.change-hours__left,
.change-hours__right {
  font-size: 2.3rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.forecast-hourly-main-container {
  display: none;
  margin-top: 1.2rem;
}

.forecast-hourly-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  margin-top: 1.2rem;
}

.forecast-hourly {
  display: grid;
  grid-template-columns: 1fr;
}

.forecast-hourly-time {
  font-size: 0.95rem;
  font-weight: bold;
}

.forecast-hourly-temp {
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.forecast-hourly-icon {
  width: 35px;
}

.error-msg {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .daily-btn,
  .hourly-btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }

  .forecast-daily-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .forecast-daily {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    align-items: center;
    justify-items: center;
  }

  .forecast-daily-day {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .forecast-daily-temp {
    display: flex;
    align-items: center;
  }

  .forecast-daily-temp-max {
    font-size: 1.2rem;
    margin: 0;
  }

  .forecast-daily-temp-min {
    font-size: 0.9rem;
    margin-left: 10px;
    margin-top: 10px;
  }

  .weather-daily-icon {
    width: 30px;
  }

  .forecast-hourly-main-container {
    margin-top: 1rem;
  }

  .forecast-hourly-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0.2rem;
  }

  .forecast-hourly {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }

  .forecast-hourly-time {
    font-size: 0.95rem;
    font-weight: 500;
  }

  .forecast-hourly-temp {
    font-size: 1.15rem;
    margin: 0;
  }

  .forecast-hourly-icon {
    width: 30px;
  }

  .error-msg {
    margin-top: 0.2rem;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .forecast-selected {
    border: 1.5px solid #000;
    border-radius: 4px;
  }

  .change-hours {
    left: 8rem;
    gap: 0.15rem;
    margin-bottom: 0.2rem;
  }

  .dot {
    border: 1.5px solid #000;
    width: 8px;
    height: 8px;
    margin-top: 0.35rem;
  }

  .change-hours__left,
  .change-hours__right {
    font-size: 2.2rem;
  }
}

#hourly-time-9,
#hourly-time-10,
#hourly-time-11,
#hourly-time-12,
#hourly-time-13,
#hourly-time-14,
#hourly-time-15,
#hourly-time-16,
#hourly-time-17,
#hourly-time-18,
#hourly-time-19,
#hourly-time-20,
#hourly-time-21,
#hourly-time-22,
#hourly-time-23,
#hourly-time-24 {
  display: none;
}
